{% extends "base.html" %} {% block scripts %} {% assets "search_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} {% assets "search_css" %}
<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block content %}
<div class="row my-4">
  <div class="col-3">
    <div class="btn-group btn-group-toggle my-3" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input
          type="radio"
          name="routes"
          id="option1"
          autocomplete="off"
          checked
        />
        Routes
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="climbers" id="option2" autocomplete="off" />
        Climbers
      </label>
    <form action="/search" method="POST">
      </div>
      <div class="form-group">
        <input
          class="form-control col"
          type="text"
          placeholder="Enter your search here"
        />
      </div>
      <button action="submit" class="btn btn-primary">Go!</button>
    </form>
  </div>
  <div class="col-9">
      <h3>Advanced:</h3>
      <div class="form-inline my-2">
        <div class="form-group">
          <label class="d-inline" for="location">Route Type: </label>
          <select
            name="searchDistance"
            id="searchDistance"
            class="form-control mx-2 col"
          >
            <option value="Boulder">Boulder</option>
            <option value="Lead">Lead</option>
            <option value="Trad">Trad</option>
          </select>
        </div>
      </div>
      <div class="form-inline my-4">
        <div class="form-group">
          <label class="d-inline" for="location">Distance: </label>
          <select
            name="searchDistance"
            id="searchDistance"
            class="form-control mx-2"
          >
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
          </select>
        </div>
      </div>
      <div class="form-inline my-4">
        <div class="form-group">
          <label for="diffRangeLower">Difficulty Range Low: </label>
          <select
            class="form-control col-2 mx-2"
            name="diffRangeLower"
            id="diffRangeSelLow"
          >
            <option value="v0">V0</option>
            <option value="v1">V1</option>
            <option value="v2">V2</option>
            <option value="v3">V3</option>
            <option value="v4">V4</option>
            <option value="v5">V5</option>
            <option value="v6">V6</option>
            <option value="v7">V7</option>
            <option value="v8">V8+</option>
          </select>
        </div>
      </div>
      <div class="form-inline my-4">
        <div class="form-group">
          <label for="diffRangeUpper">Difficulty Range High: </label>
          <select
            class="form-control col-3 mx-2"
            name="diffRangeHigh"
            id="diffRangeSelHigh"
          >
            <option value="v0">V0</option>
            <option value="v1">V1</option>
            <option value="v2">V2</option>
            <option value="v3">V3</option>
            <option value="v4">V4</option>
            <option value="v5">V5</option>
            <option value="v6">V6</option>
            <option value="v7">V7</option>
            <option value="v8">V8+</option>
          </select>
        
      </div>
  </div>
</div>
</div>
<hr />
<div class="my-4" id="map"></div>
<div class="row my-5">
  <div class="col-lg-8 col-md-8">
  <ul class="list-group" id="route-list">
  </ul>
  </div>
</div>
{% endblock %}
