{% extends "base.html" %} {% block scripts %} {% assets "search_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} {% assets "search_css" %}
<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block content %}
<div class="row my-4 align-items-center">
  <div class="col-lg-2 col-md-3 col-sm-12">
    <div id="select" class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="routes" id="option1" autocomplete="off" checked/>Routes
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="climbers" id="option2" autocomplete="off" />
        Climbers
      </label>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-12">
      <input name="q" class="form-control" placeholder="Search Routes" id="q" />
  </div>
  <div class="col-lg-2 col-md-3 col-sm-12">
    <button id="search" type="submit" class="btn btn-default">
      <span class="fa fa-search"></span>
    </button>
  </div>
      
</div>
<div id="" class="row justify-content-start">
  <div class="col-lg-6">
    <label class="form-check-label"><h4>Advanced - </h4></label>
    <input class="form-check form-check-inline" type="checkbox" id="advanced"/>

  </div>
</div>
<div id="route-search" class="row justify-content-start">
  <div class="col-lg-2 col-md-3">
    <label class="d-inline" for="location">Route Type:
      <select name="route_type" id="route_type" class="form-control mx-2">
        <option value="Boulder">Boulder</option>
        <option value="Sport">Sport</option>
        <option value="Trad">Trad</option>
      </select>
    </label>
  </div>
  <div class="col-lg-2 col-md-2">
    <label class="d-inline" for="location">Distance (Miles): </label>
    <select name="route-distance" id="route-distance" class="form-control mx-2">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="150">150</option>
      <option value="200">200</option>
      <option value="250">250</option>
      <option value="300">300</option>
      <option value="400">400</option>
      <option value="500">500</option>
    </select>
  </div>
  <div id="boulder-low" class="col-lg-2 col-md-3">
    <label class="d-inline" for="diffRangeLower">Difficulty Low: </label>
    <select class="form-control" name="diffRangeLower" id="b-low">
      <option value="V0">V0</option>
      <option value="V1">V1</option>
      <option value="V2">V2</option>
      <option value="V3">V3</option>
      <option value="V4">V4</option>
      <option value="V5">V5</option>
      <option value="V6">V6</option>
      <option value="V7">V7</option>
      <option value="V8">V8+</option>
    </select>
  </div>
  <div id="boulder-high" class="col-lg-2 col-md-3">
    <label class="d-inline" for="diffRangeUpper">Difficulty High: </label>
    <select class="form-control mx-2" name="diffRangeHigh" value="" id="b-high">
      <option value="V0">V0</option>
      <option value="V1">V1</option>
      <option value="V2">V2</option>
      <option value="V3">V3</option>
      <option value="V4">V4</option>
      <option value="V5">V5</option>
      <option value="V6">V6</option>
      <option value="V7">V7</option>
      <option value="V8" selected>V8+</option>
    </select>
  </div>
  <div id="sport-low" class="col-lg-2 col-md-3" style="display: none;">
    <label class="d-inline" for="diffRangeLower">Difficulty Low: </label>
    <select class="form-control" name="diffRangeLower" id="s-low">
      <option value="5.5">5.5</option>
      <option value="5.6">5.6</option>
      <option value="5.7">5.7</option>
      <option value="5.8">5.8</option>
      <option value="5.9">5.9</option>
      <option value="5.10">5.10</option>
      <option value="5.11">5.11</option>
      <option value="5.12">5.12</option>
      <option value="5.13">5.13</option>
      <option value="5.14">5.14</option>
    </select>
  </div>
  <div id="sport-high" class="col-lg-2 col-md-3" style="display: none;">
    <label class="d-inline" for="diffRangeUpper">Difficulty High: </label>
    <select class="form-control mx-2" name="diffRangeHigh" value="" id="s-high">
      <option value="5.5">5.5</option>
      <option value="5.6">5.6</option>
      <option value="5.7">5.7</option>
      <option value="5.8">5.8</option>
      <option value="5.9">5.9</option>
      <option value="5.10">5.10</option>
      <option value="5.11">5.11</option>
      <option value="5.12">5.12</option>
      <option value="5.13">5.13</option>
      <option value="5.14" selected>5.14</option>
    </select>
  </div>
</div>
<div id="user-search" class="row justify-content-start" style="display: none;">
  <div class="col-lg-2 col-md-3">
    <label class="d-inline" for="location">Distance: </label>
    <select name="searchDistance" id="user-distance" class="form-control mx-2">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="500">500</option>
    </select>
  </div>
</div>
<hr id="hr">
<div class="my-4" id="map"></div>
<hr>
<div class="row my-5">
  <div class="col-lg-8 col-md-8">
    <ul class="list-group" id="route-list"></ul>
  </div>
  <div class="col-lg-12 col-md-12">
    <ul class="list-group" id="user-list"></ul>
  </div>
</div>
{% endblock %}