{% extends "base.html" %}

{% block pagestyles %}
    {% assets "index_css_bundle" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ title }} | Let's do it</h1>
        <h2> {{ subtitle }}</h2>
        {% for route in res['name'] %}
        <p id="res">{{route}} </p>
        {% endfor %}
    </div>

    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/api_test.js"></script>
{% endblock %}