{% extends "base.html" %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="container">
        <div>
        <img src="" alt="">
        <p>Edit image here</p>
        </div> 
        <form method="POST" id="editProfile">
            {{ form.hidden_tag() }} {% for field in form if
            field.widget.input_type != 'hidden' %} {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %} {{field.label}} {{ field(placeholder=field.label.text,
            class="form-control") }} {% endfor %}
  
            <button class="btn btn-primary my-3 btn">Save</button>
        </form>
    </div>
</div>
{% endblock %}