{% extends "base.html" %} {% block scripts %} {% endblock %} {% assets
  "user_feed_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block content %}
<div class="row">
  <aside class="col-lg-3 col-md-4 col-sm-12 my-4" style="width: 100%;" id="home-card">
    <div class="card">
      <div class="card-body p-3">
        <div class="row justify-content-start align-items-center mb-2">
          <div class="col-6">
            <img src="{{current_user.image_url or 'http://placehold.it/200x200&text=Logo'}}"
              class="card-img-top img-thumbnail" style="width: 70px; height: 70px" />
          </div>
          <div class="col-6">
            <a href="/user/view-profile/{{current_user.id}}">
              <h4 class="card-title">{{ current_user.username }}</h5>
            </a>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-12">
            <p class="card-text"><b>Goals: </b>{{ current_user.goals or 'Set up your goals' }} </p>
          </div>
          <div class="col-12">
            <p class="card-text"><b>B: </b>{{ boulder_levels[current_user.b_skill_level | int] or 'Set up your boulder' }}</p>
            <p class="card-text"><b>TR: </b>{{ sport_levels[current_user.ld_skill_level | int] or 'Set up your lead' }} </p>
            <p class="card-text"><b>LD: </b>{{ sport_levels[current_user.tr_skill_level | int] or 'Set up your trad' }} </p>
            <p class="card-text">{{ current_user.location or 'Set up your location' }} </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h5>Connected Climbers</h5>
    <ul id="sidebar-list" class="list-group my-3">
      {% for user in followed_users %}
      <li class="list-group-item">
        <div class="row justify-content-start align-items-center mb-2">
          <div class="col">
            <img class="img-thumbnail" src="{{user.image_url or 'http://placehold.it/200x200&text=Logo'}}"
              style="width: 70px; height: 70px" />
          </div>
          <div class="col">
            <a href="/user/view-profile/{{user.id}}">
              <h5>{{user.username}}</h5>
            </a>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-12">
            <p><b>Goals: </b>
              {{user.goals}}
            </p>
          </div>
          <div class="col-12">
            <p><b>B: </b>{{boulder_levels[user.b_skill_level | int] or 'N/A'}}</p>
            <p> <b>TR:
              </b>{{sport_levels[user.tr_skill_level | int] or 'N/A'}}</p>
              <p><b>LD:
              </b>{{sport_levels[user.ld_skill_level | int] or 'N/A'}}</p>
            <p>
              {{user.location}}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </aside>
  <div class="col-lg-9 col-md-8 col-sm-12 my-4 mx-0" style="width: 100%;">
    <ul class="list-group" id="feed-list" style="list-style: none">
      {% for item in feed %}
      {% if item.username and item not in is_following %}
      <li class="list-group-item my-2">
        <div class="row justify-content-start">
          <div class="col-lg-2">
            <img class="img-thumbnail" src="{{item.image_url or 'http://placehold.it/200x200&text=Logo'}}"
              style="width: 70px; height: auto;" alt="#" />
          </div>
          <div class="col-lg-4 col-md-12">
            <a href="/user/view-profile/{{item.id}}">
              <h5>{{item.username}}</h5>
            </a>
            <p><b>Goals: </b>
              {{item.goals or ''}}
            </p>
            <p><b>B: </b>{{boulder_levels[item.b_skill_level | int] or 'N/A'}} <b>TR:
              </b>{{sport_levels[item.tr_skill_level | int] or 'N/A'}} <b>LD:
              </b>{{sport_levels[item.ld_skill_level | int] or 'N/A'}}</p>
            <p><b>Location: </b>
              {{item.location}}
            </p>
            <button id="connect-button" data-user-id="{{item.id}}" class="btn btn-primary btn-sm my-1">Connect</button>
          </div>
      </li>
      {% else %}
      <li class="list-group-item my-2">
        <div class="row justify-content-around">
          <div class="col-lg-4">
            <a href="/route/{{item.id}}">
              <h5>{{item.name}}</h5>
            </a <p><b>Route Type:</b> {{item.route_type}}</p>
            <p><b>Difficulty:</b> {{boulder_levels[item.difficulty | int] if item.route_type == "Boulder" else sport_levels[item.difficulty | int]}}</p>
            <p><b>Stars:</b> {{item.stars}}</p>
            <p class="afterBtn"><b>Location</b> {{item.location}} {{item.location2 or ''}}</p>
            {% if item.id not in is_project and item.id not in is_send %}
            <button id="project-route" data-route-id="{{item.id}}" class="btn btn-primary btn-sm my-1">Project</button>
            <button id="send-route" data-route-id="{{item.id}}" class="btn btn-sm btn-primary send">Send</button>
            <select name="attempts" id="attempts">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3+">3+</option>
            </select>
            {% endif %}
            <div class="align-items-end">
              <div class="col">
              {% for proj in recent_projects %}
              {% if item.id == proj.route_id %}
              <a class="badge badge-pill badge-info" href="/user/view-profile/{{proj.user.id}}">P:
                {{proj.user.username}}</a>
                {% if proj.user.id != current_user.id %}
                <span data-user-id="{{proj.id}}" class="thumbs-up"><i class="{{'fas' if proj.route_id in is_liked else 'far'}} fa-thumbs-up"></i></span>
                {% endif %}
              {% endif %}
              {% endfor %}
              </div>
              <div class="col">
              {% for send in recent_sends %}
              {% if item.id == send.route_id %}
              <a class="badge badge-pill badge-success" href="/user/view-profile/{{send.user.id}}">S:
                {{send.user.username}}</a>
                {% if send.user.id != current_user.id %}
                <span data-user-id="{{send.id}}" class="star"><i class="{{'fas' if send.id in kudos else 'far'}} fa-star"></i></span>
                {% endif %}
              {% endif %}
              {% endfor %}
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <img class="justify-content-end img-thumbnail"
              src="{{item.image_url or 'http://placehold.it/200x200&text=Route'}}" style="width: 300px; height: auto;"
              alt="#" />
          </div>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row justify-content-center">
  <nav aria-label="Page navigation example" class="justify-content-center">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous - </a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>

{% endblock %}