{% extends "base.html" %} {% block scripts %} {% endblock %} {% assets
  "view_profile_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block content %}
<div class="row my-4">
  <aside class="col-md-12 col-lg-12 col-sm-12" id="home-card">
    <div class="card " style="height: 200px;">
      <div class="card-body">
        <div class="row justify-content-between align-items-center">
          <div class="col-2">
            <img src="{{current_user.image_url or 'http://placehold.it/200x200&text=Profile'}}" class="img-thumbnail"
              alt="#" style="width: 70px; height: 70px;" />
            <a href="/user/view-profile/{{current_user.id}}">
              <h5 class="card-title m-2" style="font-size: 1.0rem">{{current_user.username}}</h5>
            </a>
            <h6 class="card-subtitle m-2 text-muted">Connection Status</h6>
          </div>
          <div class="col-8">
            <div class="card-text">
              <p><b>B: </b>{{boulder_levels[current_user.b_skill_level | int]}} -
                <b>TR: </b>{{sport_levels[current_user.tr_skill_level | int]}} -
                <b>LD: </b>{{sport_levels[current_user.ld_skill_level | int]}}</p>
              <p>{{current_user.goals}}</p>
            </div>
          </div>
          <div class="col-2">
            {% if current_user.id in followed_user %}
            <button id="user-connect-btn" data-route-id="{{user.id}}" class="btn btn-primary">Connect</button></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
<hr>
<div class="row justify-content-start">
  <div class="col-lg-4 col-md-6">
    <img class="img-thumbnail" src="{{user.image_url}}" alt="#" style="width: 150px; height: 150px;">
    <h1>{{user.username}}</h1>
    <p><b>Location: </b>{{user.location}}</p>
    <h3>Skills</h3>
    <p><b>Boudler: </b>{{boulder_levels[user.b_skill_level | int]}}</p>
    <p><b>Top Rope: </b>{{sport_levels[user.tr_skill_level | int]}}</p>
    <p><b>Lead: </b>{{sport_levels[user.ld_skill_level | int]}}</p>
  </div>
  <div class="col-lg-8 col-md-12">
    <div class="row justify-content-start">
      <div class="col-lg-10 col-md-10">
        <h5>Connection List ({{user.following | length}})</h5>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="/user/connections_list/{{user.id}}">View All</a>
      </div>
    </div>
    <ul id="connection-list" class="list-group">
      {% if user.following %}
      {% for followed_user in user.following[:5] %}
      <li class="list-group-item list-group-item-action">
        <div class="row justify-content-between">
          <div class="col-lg-2 col-md-2">
            <a href="/user/view-profile/{{followed_user.id}}">
              <h6>{{followed_user.username}}</h6>
            </a>
          </div>
          <div class="col-lg-6 col-md-6">
            <p><b>B: </b>{{boulder_levels[followed_user.b_skill_level | int]}} -
              <b>TR: </b>{{sport_levels[followed_user.tr_skill_level | int]}} -
              <b>LD: </b>{{sport_levels[followed_user.ld_skill_level | int]}}</p>
          </div>
          {% if followed_user.id not in current_user.following and followed_user.id != current_user.id %}
          <div class="col-lg-2 col-md-2">
            <button class="btn btn-primary btn-sm">Connect</button>
          </div>
          {% else %}
          <div class="col-lg-2 col-md-2">
            <p>That's You!</p>
          </div>
          {% endif %}
        </div>
      </li>
      {% endfor %}
      {% else %}
      <p>You have no connections, try "connecting" to other users to see their info!</p>
      {% endif %}
    </ul>
    <hr>
    <div class="row justify-content-start">
      <div class="col-lg-10 col-md-10">
        <h5>Recent Projects ({{projected_routes | length}})</h5>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="/user/projects_list/{{user.id}}">View All</a>
      </div>
    </div>
    {% if projected_routes %}
    <ul id="project-list" class="list-group">
      {% for p_route in projected_routes[:5] %}
      <li id="{{p_route.id}}" class="list-group-item list-group-item-action">
        <div class="row justify-content-between">
          <div class="col-lg-3 col-md-3">
            <a href="/route/{{p_route.id}}">{{ p_route.name }} </a>
          </div>
          <div class="col">
            <p>{{p_route.difficulty}}</p>
          </div>
          <div class="col">
            <p>{{p_route.location}}</p>
          </div>
          <div class="col-lg-1 col-md-1">
            <span data-project-id="{{p_route.id}}" class="thumbs-up"><i
                class="{{'fas' if p_route.id in likes else 'far'}} fa-thumbs-up"></i></span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No projects yet, they are busy flashing their routes.</p>
    {% endif %}
    <hr />
    <div class="row justify-content-start">
      <div class="col-lg-10 col-md-10">
    <h5>Recent Sends ({{sent_routes | length}})</h5>
    </div>
    <div class="col-lg-2 col-md-2">
      <a href="/user/sends_list/{{user.id}}">View All</a>
    </div>
    </div>
    <ul id="send-list" class="list-group mb-4">
      {% if sent_routes %}
      {% for s_route in sent_routes[:5] %}
      <li class="list-group-item list-group-item-action">
        <div class="row justify-content-start">
          <div class="col-lg-3 col-md-3">
            <a href="/route/{{s_route.id}}" method="POST">{{ s_route.name }} </a>
          </div>
          <div class="col">
            <p>{{s_route.difficulty}}</p>
          </div>
          <div class="col">
            <p>{{s_route.location}}</p>
          </div>
          <div class="col-lg-1 col-md-1">
            {% for send in sends %}
            {% if send.route_id == s_route.id %}
            <span data-send-id="{{send.id}}" class="star"><i
                class="{{'fas' if send.id in kudos else 'far'}} fa-star"></i></span>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}
      {% else %}
      <p>Too busy dreaming about their proj to send</p>
      {% endif %}
    </ul>
  </div>
</div>


{% endblock %}