{% extends "base.html" %} {% block scripts %} {% endblock %} {% assets
  "view_profile_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block content %}

<div class="row justify-content-around my-4">
  <div class="col-lg-4 col-md-6 col-sm-12">

    <img class="img-thumbnail" src="{{current_user.image_url or 'http://placehold.it/200x200&text=Profile'}}"
      style="width: 90px; height: 90px;" />
    <h3><b>Username: </b>{{ current_user.username}}</h1>
    <p><b>Email: </b>{{current_user.email}}</p>
    <p><b>Location: </b>{{current_user.location}}</p>
    <a href="/user/edit-profile">
      <button class="btn btn-primary my-3">Edit Profile</button>
    </a>
    <hr>
    <form action="/user/edit_goals" method="POST" id="editGoals">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %} {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {{field.label}} {{ field(placeholder=field.label.text,
      class="form-control col-4") }} {% endfor %}

      <button class="btn btn-secondary my-3 btn">Save</button>
    </form>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="row justify-content-start">
      <div class="col-8">
        <h5>Connection List</h5>
      </div>
      <div class="col-4">
        <a href="/user/view_connections/{{current_user.id}}">View All</a>
      </div>
    </div>
    <ul id="connection-list" class="list-group">
      {% if current_user.following %}
      {% for followed_user in current_user.following %}
      <li class="list-group-item list-group-item-action pr-0">
        <div class="row justify-content-between">
          <div class="col-8">
            <a href="/user/view-profile/{{followed_user.id}}"><h6>{{followed_user.username}}</h6></a>
          </div>
          <div class="col-4">
            <button id="disconnect-button" data-user-id="{{followed_user.id}}" class="btn btn-danger btn-sm p-1">Disconnect</button>
          </div>
        </div>
      </li>
      {% endfor %}
      {% else %}
      <p>You have no connections, try "connecting" to other users to see their info!</p>
      {% endif %}
    </ul>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="row justify-content-start">
      <div class="col-8">
        <h5>Recent Projects</h5>
      </div>
      <div class="col-4">
        <a href="/user/view_projects/{{current_user.id}}">View All</a>
      </div>
    </div>
    {% if projected_routes %}
    <ul id="project-list" class="list-group">
      {% for p_route in projected_routes %}
      <li id="{{p_route.id}}" class="list-group-item list-group-item-action">
        <div class="row justify-content-between">
          <div class="col">
            <a href="/route/{{p_route.id}}">{{ p_route.name }} </a>
          </div>
          <div class="col">
            <p>{{p_route.difficulty}}</p>
          </div>
          <div class="col-2">
            <p>{{p_route.location}}</p>
          </div>
          <div class="col-4">
            <button id="send-route" class="btn btn-sm btn-primary">Send</button>
            <button id="project-route" class="btn btn-sm btn-danger">X</button>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You have yet to project a route, Go search for routes near you!</p>
    {% endif %}
    <hr />
    <div class="row justify-content-start">
      <div class="col-8">
        <h5>Recent Sends</h5>
      </div>
      <div class="col-4">
        <a href="/user/view_sends/{{current_user.id}}">View All</a>
      </div>
    </div>
    <div class="">
      <ul id="send-list" class="list-group">
        
        {% if sent_routes %}
        {% for s_route in sent_routes %}
        <li class="list-group-item list-group-item-action">
          <div class="row justify-content-between">
            <div class="col">
            <a id="routeName" class="" href="/route/{{s_route.id}}">{{ s_route.name }} </a>
            </div>
            <div class="col">
              <p>{{s_route.difficulty}}</p>
            </div>
            <div class="col-4">
              <p>{{s_route.location}}</p>
            </div>
            <div class="col-2">
            <button id="sent-route" data-route-id="{{s_route.id}}" class="btn btn-sm btn-danger">X</button>
            </div>
          </div>
        </li>
        {% endfor %}
        {% else %}
        <p>You have yet to send a route! Get out there and climb!</p>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
</div>

{% endblock %}