{% extends "base.html" %}
{% block scripts %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="container">
        <div>
        <img src="" alt="">
        </div> 
        <h1>Username</h1>
        <h3>email:</h3><p>some email</p>
        <h3>boulder skill level:</h3><p>v3</p>
        <h3>top rope skill level:</h3><p>v5</p>
        <h3>lead climbing skill level:</h3><p>v5</p>
        <h3>Goals: </h3><p>Reimers Ranch Austin TX</p>
        <a href="/user/edit-profile">
        <button class="btn btn-primary">Edit</button>
        </a>
    </div>
</div>

{% endblock %}