{% extends "base.html" %} {% block scripts %} {% endblock %}{% assets
  "route_details_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} {% block content %}

<div class="row justify-content-around mt-4">
  <aside class="col-md-4 col-lg-3 col-sm-12" id="home-card">
    <div class="card" style="width: 100%; height: 90%;">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col">
            <img src="{{current_user.image_url or 'http://placehold.it/200x200&text=Profile'}}" class="img-thumbnail"
              alt="#" style="width: 70px; height: auto;" />
          </div>
          <div class="col">
            <a href="/user/view-profile/{{current_user.id}}">
              <h5 class="card-title" style="font-size: 0.8rem">{{current_user.username}}</h5>
            </a>
            <button id="user-send-btn" data-route-id="{{route.id}}" class="btn btn-primary btn-sm my-2">Send</button></a>
            <button id="user-project-btn" data-route-id="{{route.id}}"
              class="btn btn-primary btn-sm">Project</button></a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="col-md-6 col-lg-4 col-sm-8">
    <h1 class="display-3">{{route.name}}</h1>
    <p><b>Difficulty :</b>{{route.difficulty}}</p>
    <p><b>Type: </b>{{route.route_type}}</p>
    <p>
      <b>Location: </b>{{route.location}}{% if route.location2 %},{% endif %}
      {{route.location2 or ''}}
    </p>
    <p><b>Lat:</b> {{route.lat}} N <b>Lon: </b>{{route.lon|abs}} W</p>
  </div>
  <div class="col-md-6 col-lg-4 col-sm-4 my-3">
    <img src="{{route.image_url}}" alt="" style="border: 5px solid rgba(0, 0, 0, 0.11); width: 240px; height: auto" />
  </div>
</div>
<hr>
<div class="row justify-content-around">
  <div class="col-md-4 col-lg-6 col-sm-12">
    <h4>Climber Feed</h4>
    <ul class="list-group">
      {% for route in nearby_routes %}
      <li class="list-group-item">
        <div class="row justify-content-start">
          <div class="col">
            <img src="{{route.image_url}}" alt="..." style="width: auto; height: 100px;" />
          </div>
          <div class="col">
            <h5>{{route.name}}</h5>
            <p>{{route.difficulty}}</p>
            <a href="/route/{{route.id}}" class="btn btn-primary btn-sm">Link to route page</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4 col-lg-6 col-sm-6">
    <h4>Nearby Routes</h4>
    <ul class="list-group">
      {% for route in nearby_routes %}
      <li class="list-group-item">
        <h5>{{route.name}}</h5>
        <p>{{route.difficulty}}</p>
        <a href="/route/{{route.id}}" class="btn btn-primary btn-sm">Link to route page</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}