{% extends "base.html" %} {% block scripts %} {% endblock %} {% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Sign Up</h3>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="notification is-danger">
    {{ messages[0] }} Go to
    <a href="{{ url_for('auth_bp.login') }}">login page</a>.
  </div>
  {% endif %} {% endwith %}
  <form action="/signup" id="signup-form" method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %} {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %} {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button class="btn btn-primary">Sign Up</button>
  </form>
</div>
{% endblock %}
